@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/* --------------------------------------- */
body{
  background: #F6F5F5;
}
/* --------------------------------------- */
nav.bar{
  background-color: #CBF1F5;
}
/* --------------------------------------- */
div.top_container{
  background-color: #E3FDFD;  
}

div.skill_row{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div.footer_container{
  background-color: #CBF1F5;
}
/* --------------------------------------- */

a.link{
  color: #11999E;
}

a.link:hover{
  color: #222831;
}

/* --------------------------------------- */

h1.My_name {
  font-family: 'Yellowtail', cursive;
  color: #276678;
  font-size:  70px;
  font-weight: 400;
  padding-top: 150px;

}
/* --------------------------------------- */
h2.major {
  font-family: 'Nunito', sans-serif;
  font-style: italic; 
  color: #40514E;
  font-size:  25px;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2.Hi{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #40514E;
  margin-top: 20px;
  margin-bottom: 40px;
}


h2.what_i_do,h2.get_on_me{
  color: #276678;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2.education{
  padding-top: 50px;
  padding-bottom: 50px;
}


/* --------------------------------------- */
p.Summary {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #545454;
  line-height: 2;
}
/* --------------------------------------- */

span.pro {
  font-family: 'Nunito', sans-serif;
  font-style: italic; 
  color: #40514E;
  font-size:  25px;
  font-weight: bold;  
}
/* --------------------------------------- */

img.background_image{
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img.waving_image{
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 50px;

}

img.cloud{
  width: 205px;
  height: auto;
  float: left;
  margin-right: 30px;
}
img.embedded_systems{
  width: 205px;
  height: auto;
  float: right;
  margin-left: 30px;
}
/* --------------------------------------- */
hr.First_line{
  border-color:   rgb(236, 229, 229);
  border-style: none;
  border-top-style: dotted ;
  width: 100px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
}











.footer {
  padding:50px 0;
  color:black;
  background-color:#71C9CE;
}

.footer h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer .item.text {
    margin-bottom:0;
  }
}

.footer .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px black;
  margin:0 8px;
  color:black;
  opacity:0.75;
}

.footer .item.social > a:hover {
  opacity:0.9;
}

.footer .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}



/*  

div.skill_container{
  width: 100%;
  display: block;
}

*{
  padding: 0;
  margin: 0;
}



div.tap_container{
  background-color: #71C9CE;
  width: 100%;
  height: 70px;
  display: block;
}

div.upper_left_tap{
  display: inline-block;
  position: absolute;
  left: 25px;
}

div.upper_right_tap{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 22px; 
}



div.middle_container{
  display: block;
  width: 100%;
}



div.bottom_container{
  width: 100%;
  display: block;
}

div.skill_row{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


h1.My_name {
  font-family: 'Yellowtail', cursive;
  color: #276678;
  font-size:  100px;
  font-weight: normal;
  display: block;
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  padding-top: 120px;  
  padding-bottom: 0px;
}




h3.skill{
  color: #276678;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  text-align: left;
}
h3.get_on_me_about{
  color: #276678;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;

}




p.about_skill {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  width: 100%;
  margin: auto;
  color: #545454;
  line-height: 2;
  text-align: left;
}

p.copy_right{
  padding: 25px;
  color: #F6F5F5;
}



a.link{
  display: inline;
  margin:25px;
  text-decoration: none;
  color: #11999E;
  font-size: 1.5em; 
  white-space: nowrap;
}

a.link:hover{
  color: white;
}

a.contact_me{
  display: inline-block;
  text-decoration: none;
  color:White;
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #11999E);
  background-image: -moz-linear-gradient(top, #11999E, #11999E);
  background-image: -ms-linear-gradient(top, #11999E, #11999E);
  background-image: -o-linear-gradient(top, #11999E, #11999E);
  background-image: linear-gradient(to bottom, #11999E, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-size: 1.5em; 
  margin: 100px; 
  margin-left: 0;
  margin-right: 0;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}


a.contact_me:hover {
  background: #71C9CE;
  background-image: -webkit-linear-gradient(top, #71C9CE, #71C9CE);
  background-image: -moz-linear-gradient(top, #71C9CE, #71C9CE);
  background-image: -ms-linear-gradient(top, #71C9CE, #71C9CE);
  background-image: -o-linear-gradient(top, #71C9CE, #71C9CE);
  background-image: linear-gradient(to bottom, #71C9CE, #71C9CE);
  text-decoration: none;
}

a.copy_right{
  color: #F6F5F5;
  text-decoration: none;

}

img.Black{
  clip-path: circle();
  width: 50px;
  height: auto;
}



img.waving_image{
  width: 250px;
  height: auto;
  margin: 100px;
  margin-bottom: 25px;
}


img.embedded_systems{
  width: 205px;
  height: auto;
  float: right;
  margin-left: 30px;
}

 */
