/* vvvvvvvvvvvvvvv BODY vvvvvvvvvvvvvvv */
body{
  background: #F9F7F7;
}
/* ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ BODY ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ */

/* vvvvvvvvvvvvvvv NAV BAR vvvvvvvvvvvvvvv */
.NAV-COLOR{
  background: #222831;
}
.NAV-TEXT-COLOR{
  color: #00ADB5 !important;
}
.NAV-TEXT-COLOR:hover {
  color: white !important;
}
/* ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ NAV BAR ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ */

/* vvvvvvvvvvvvvvv Hamburger Menu in NAV BAR vvvvvvvvvvvvvvv */
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #EEEEEE;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: #00ADB5;
}

/* ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ Hamburger Menu in NAV BAR ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ */

/* vvvvvvvvvvvvvvv top_container vvvvvvvvvvvvvvv */

.top_container{
  background-color: #E3FDFD;  
}
.My_name {
  font-family: 'Yellowtail', cursive;
  color: #276678;
  font-weight: 400;
  padding-top: 150px;

}
.major {
  font-family: 'Nunito', sans-serif;
  font-style: italic; 
  color: #40514E;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pro {
  font-family: 'Nunito', sans-serif;
  font-style: italic; 
  color: #40514E;
  font-weight: bold;  
}
.background_image{
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media screen and (min-width: 751px) {
  .My_name {
    font-size:  70px;
  }
  .major {
    font-size:  25px;
  }
  .pro {
    font-size:  25px;
  }
  .background_image{
    width: 350px;
  }

}


@media screen and (max-width: 750px) {
  .My_name {
    font-size:  35px;
  }
  .major {
    font-size:  18px;
  }
  .pro {
    font-size:  18px;
  }
  .background_image{
    width: 250px;
  }
}

/* ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ top_container ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ */

/* vvvvvvvvvvvvvvv middle_container vvvvvvvvvvvvvvv */

.waving_image{
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}
.Hi{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #40514E;
  margin-top: 20px;
  margin-bottom: 40px;
}
.Summary {
  font-family: 'Nunito', sans-serif;
  color: #545454;
  line-height: 2;
}


.First_line{
  border-color:   #b6afaf;
  border-style: none;
  border-top-style: dotted ;
  width: 100px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;  
  background-color: transparent; 
}
@media (max-width : 2000px) {
  .Summary{font-size:1.75em}}
@media (max-width : 1500px) {
  .Summary{font-size:1.5em}}
@media (max-width : 1000px) {
  .Summary{font-size:1.25em}}
@media (max-width : 500px) {
  .Summary{font-size:1.0em}}


/* ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ middle_container ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ */

/* vvvvvvvvvvvvvvv lower_container vvvvvvvvvvvvvvv */

.skill_row{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
img.cloud{
  width: 275px;
  height: auto;
}
img.embedded_systems{
  width: 275px;
  height: auto;
}

.skill{
  color: #276678;
  font-family: 'Nunito', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
}



.about_skill {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  width: 100%;
  color: #545454;
  line-height: 2;
}
@media (max-width : 2000px) {.about_skill{font-size:1.75em} .skill{font-size:1.5em}}
@media (max-width : 1500px) {.about_skill{font-size:1.5em} .skill{font-size:1.25em}}
@media (max-width : 1000px) {.about_skill{font-size:1.25em} .skill{font-size:1.0em}}
@media (max-width : 500px) {.about_skill{font-size:1.0em} .skill{font-size:0.75em}}




/* ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ lower_container ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ */


/* vvvvvvvvvvvvvvv Education vvvvvvvvvvvvvvv */
.education{
  padding-top: 50px;
  padding-bottom: 50px;
}
.card-header{
  height: 300px;
  display: flex;
  align-items: center;
}
.p-auto{
  padding: 0 auto !important;

}
/* ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ Education ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ */


/* vvvvvvvvvvvvvvv footer vvvvvvvvvvvvvvv */


.footer {
  padding:50px 0;
  color:black;
  background-color:#71C9CE;
}

.footer h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer .item.text {
    margin-bottom:0;
  }
}

.footer .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px black;
  margin:0 8px;
  color:black;
  opacity:0.75;
}

.footer .item.social > a:hover {
  opacity:0.9;
}

.footer .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/* ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ footer ʌʌʌʌʌʌʌʌʌʌʌʌʌʌʌ */
